@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0;
        padding: 0;box-sizing: border-box;
    }
    *::selection{
        @apply bg-primary text-white
    }
    body{
        @apply bg-slate-50
    }
    
}

@layer components{

    .navbarSticky{
        @apply fixed top-0 w-full shadow-lg trns-1 border-b-2 border-gray-400 !py-1 animate-stickyNav;
        z-index: 80;
    }


    .section-title{
        @apply text-gray-900 text-xl sm:text-2xl font-medium
    }

    .slider-dots{
        @apply w-2.5 h-2.5 border-accent border rounded-full
    }

    .swiper-pagination-bullet-active.slider-dots{
        @apply w-2.5 h-2.5 bg-accent
    }

    .slider-arrow{
        @apply trns-1 w-8 h-8 sm:w-10 sm:h-10 rounded-full center-child inline-block text-gray-400 z-30 hover:bg-primary hover:text-white
    }

    .form-input{
        @apply py-2 sm:py-3 px-3 sm:px-4 border border-gray-200 text-sm w-full focus:outline-none 
    }

    .footer-title{
        @apply text-gray-800 sm:text-xl mb-5 lg:mb-9 underline font-medium
    }
    .footer-link{
        @apply text-black hover:text-accent text-sm xl:text-base !leading-loose capitalize
    }
}

@layer utilities {
    .center-child{
        @apply flex justify-center items-center
    }
    .trns-1{
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
}
